name: Publish Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{secrets.AUTH_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v2
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavetic'
      - name: Setup .npmrc file
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ env.NODE_AUTH_TOKEN }}" >> .npmrc

      - name: Install dependencies
        run: pnpm install

      - name: Run lint
        run: pnpm lint
      
      - name: Publish
        run: pnpm publish --no-git-checks